#include "./Common.xcconfig"

// Accelerated Obj-C dispatch
GCC_FAST_OBJC_DISPATCH = YES

// fast and small
GCC_OPTIMIZATION_LEVEL = s

DEPLOYMENT_POSTPROCESSING = YES
STRIP_INSTALLED_PRODUCT = YES

// strip the application *after* linking, not during
SEPARATE_STRIP = YES

// this warning only works when optimized code is on
GCC_WARN_UNINITIALIZED_AUTOS = YES

// bundles must have globals
STRIP_STYLE = non-global
